.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {transform: rotate(360deg);
  }
}

.chatBox {
  width: 375px;
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.chat {
  width: 375px;
  height: 520px;
  overflow: auto;
  background-color: #fff;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.send {
  /* width: 375px;
  height: 52px; */
  background-color: #fff;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.myInput {
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0);
  width: 290px;
  height: 100%;
  float: left;
  margin-left: 15px;
  border:none;
}

.myInput:focus-visible {
  outline: none;
}

.sendForm {
  align-self: center;
  flex-grow: 1;
  margin: 8px;
  height: 40px;
  border-radius: 18px 21px 21px 18px;
  background-color: #F6F6F6;
}

.sendBtn {
  width: 40px;
  height: 40px;
  border-radius: 21px;
  margin-left: 10px;
  border: none;
  background-image: url("./assets/send.png");
  background-color: #45BF6D; /* make the button transparent */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: 8px 8px;  /* equivalent to 'top left' */
}

.msg {
  /* border: 1px white solid; */
  width: 400px;
  height: 550px;
  background-color: #9bbbd4;
  font-size: 20px;
  overflow: auto;
  margin: auto;
  color: white;
}

.notification-container {
  display: none;
  position: absolute;
  font-size: 0.8em;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 20px;
  margin: auto;
  margin-top: 300px;
  margin-left: 100px;
}

.notification-container.show {
  display: block;
}
.msgLine {
  max-width: 200px;
  /* float: right; */
}

/* 답변 말풍선 #F4C5C1  */
.msgBox {
  color: black;
  font-size: 14px;
  word-break: break-all;
  text-align: left;
  max-width: 250px;
  padding: 10px 15px 10px 15px;
  
  margin: 10px;
  
}
.date {
  top: 90%;
  left: 55%;
}



.questionContainer > .questionChat {
  width: 100%;
  display: flex;
}
.questionContainer > .questionChat > .msgBox {
  background: #FEE0DB;
  margin-left:auto;
  border-radius: 15px 15px 0 15px;
}

.answerContainer > .answerChat {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.answerContainer > .answerChat > .msgBox {
  background: #CCEEFC;
  margin-right: auto;
  border-radius: 15px 15px 15px 0px;
}


.chatHeader {
  height: 100px;
}

.chatContainer {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.questionUsericon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FEE0DB; /* make the button transparent */
}

.answerUsericon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #CCEEFC; /* make the button transparent */
}

.userIcon {
  position: relative;
  top: 5px;
}

.chatTitle {
  color: #000;
  text-align: left;
  margin-left: 30px;
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.msgBox > p {
  margin-block-end: 5px;
  margin-block-start: 5px;
}

.answerChat .downloadBtn {
  width: 110px;
  height: 20px;
  text-align: right;
  font-weight: bold;
  color: #3BB55A;
  margin-left: 50px;
  background-image: url('./assets/download.png');
  background-repeat: no-repeat;
  background-color: #fff;
  border: 1px solid #3BB55A;
  padding: 3px;
  background-size: 18px;
}

.loadingStop {
  display: none;
}

.loadingStart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.loadingStart > img {
  align-self: center;
  margin-left: auto;
  margin-right: 40px;
}

.chatMain {
  overflow: auto;
  height: 430px;
}

.loadingStart > span {
  align-self: center;
  background: linear-gradient(90deg,#ab6bff,#9ad5f9 15%,#575df0 35%,#ab6bff 50%,#9ad5f9 65%,#575df0 85%,#ab6bff);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradient 3.5s linear infinite;
  background-size: 200% 100%;
}

@keyframes gradient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}