.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chatBox {
  width: 375px;
  height: 667px;
  background-color: #9bbbd4;
}

.chat {
  width: 375px;
  height: 615px;
  background-color: #9bbbd4;
}

.send {
  width: 375px;
  height: 52px;
  background-color: #556677;
}

.myInput {
  width: 262px;
  height: 24px;
  margin: 11px 0 0 -83px;
}

.sendForm {
  display: inline-block;
}

.sendBtn {
  width: 76px;
  height: 28px;
  position: absolute;
  margin: 11px 0 0 10px;
}

.msg {
  /* border: 1px white solid; */
  width: 400px;
  height: 550px;
  background-color: #9bbbd4;
  font-size: 20px;
  overflow: auto;
  margin: auto;
  color: white;
}

.notification-container {
  display: none;
  position: absolute;
  font-size: 0.8em;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 20px;
  margin: auto;
  margin-top: 300px;
  margin-left: 100px;
}

.notification-container.show {
  display: block;
}
.msgLine {
  max-width: 200px;
  /* float: right; */
}
.msgBox {
  background: #fef01b;
  color: black;
  font-size: 14px;
  word-break: break-all;
  text-align: left;
  max-width: 200px;
}
.date {
  top: 90%;
  left: 55%;
}
